name: test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
      - run: npm i
      - run: npm run build
      - run: npm test
      - run: npx lerna run test:demo
